*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body{
    position: relative;
}

/* START NAVBAR */
.nav{
    position: sticky;
    top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 5px 5px rgba(0,0,0, 0.1);
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;
}

.nav > a > img{
    width: 50px;
    height: 50px;
}

.nav > ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    list-style: none;
}

.nav > ul > li > a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

#hamburger-button{
    font-size: 20px;
    display: none;
}

.hamburger-menu{
    position: fixed;
    top: 75px;
    right: 0;
    box-shadow: 0px 0px 5px 5px rgba(0,0,0, 0.1);
    background-color: #fff;
    width: 200px;
    height: 200px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    font-weight: 600;
    border-radius: 10px;
    list-style: none;
    transition: all 0.5s;
    opacity: 0;
    z-index: 100;
}

.hamburger-menu > li > a{
    color: #000;
    text-decoration: none;
}

@media (max-width: 750px) {
    #hamburger-button{
        display: block;
    }

    .nav > ul{
        display: none;
    }

    .nav{
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
    }
}
/* END NAVBAR */


/* START HERO */
.hero{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero > img{
    width: 100%;
}

.hero-overlay{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0,0,0,0.7);
}

.text-one{
    color: #fff;
    font-size: 50px;
    max-width: 700px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 800;
    padding-bottom: 30px;
}

.text-two{
    color: #fff;
    font-size: 30px;
    max-width: 800px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 600;
    font-style: italic;
    padding-bottom: 30px;
}

.hero-overlay > div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.hero-overlay > div > a:nth-child(1){
    background-color: #fff;
    color: #000;
    border: 2px solid #fff;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    width: 150px;
    text-align: center;
    font-weight: 600;
    transition: all 0.5s;
}

.hero-overlay > div > a:nth-child(2){
    background-color: #C60C30;
    color: #fff;
    border: 2px solid #C60C30;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    width: 150px;
    text-align: center;
    font-weight: 600;
    transition: all 0.5s;
}

.hero-overlay > div > a:nth-child(1):hover{
    color: #fff;
    background-color: transparent;
}

.hero-overlay > div > a:nth-child(2):hover{
    background-color: #b93751;
    border: 2px solid #b93751;
}

@media (max-width: 850px) {
    .text-one{
        font-size: 30px;
        padding-bottom: 20px;
    }

    .text-two{
        font-size: 20px;
        max-width: 600px;
        padding-bottom: 20px;
    }
}

@media (max-width: 550px) {
    .text-one{
        font-size: 20px;
    }

    .text-two{
        display: none;
    }

    .hero-overlay > div > a:nth-child(1),
    .hero-overlay > div > a:nth-child(2){
        font-size: 15px;
        padding: 5px;
        width: 100px;
    }
}
/* END HERO */


/* START ABOUT */
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #dddddd;
}

.section-title{
    padding-bottom: 5px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.horisontal-line{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 5px;
    border-radius: 10px;
    background: linear-gradient(to right,#b93751,#C60C30);
    margin-bottom: 30px;
}

.about-inline{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.about-inline > div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #fff;
    color: #000;
    box-shadow: 0 0 5px 5px rgba(0,0,0, 0.1);
    width: 300px;
    height: 350px;
    padding: 20px;
    font-size: 18px;
    border-radius: 20px;
}

.about-inline > div > i{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color:#C60C30;
    border: 2px solid #C60C30;
    border-radius: 50%;
    margin-bottom: 30px;
    transition: all 0.5s;
}

.about-inline > div > i:hover{
    transform: rotate(25deg);
}

@media (max-width: 980px) {
    .about-inline{
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
    }

    .about-inline > div{
        width: 100%;
        height: auto;
    }
}
/* END ABOUT */


/* START CTA */
.cta-section{
    background: linear-gradient(to right, #b93751, #C60C30);
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cta-section > p{
    font-size: 20px;
    color: #fff;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 600;
}

.cta-section > a{
    padding: 10px;
    width: 150px;
    background-color: #fff;
    border: 2px solid #fff;
    color: #000;
    text-align: center;
    font-weight: 600;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.5s;
}

.cta-section > a:hover{
    color: #fff;
    background-color: transparent;
}

@media (max-width: 650px) {
    .cta-section{
        justify-content: center;
        flex-direction: column;
        gap: 20px;
    }
}
/* END CTA */


/* START INSTRUCTORS */
.instructors{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #dddddd;
}

.instructors-inline{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.instructors-inline > div{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 5px 5px rgba(0,0,0, 0.1);
    border-radius: 10px;
}

.instructors-inline > div > img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.instructor-name{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 300px;
    height: 100px;
    font-size: 20px;
    font-weight: 600;
}

.instructor-image-overlay{
    position: absolute;
    top: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 300px;
    height: 300px;
    background-color: rgba(0,0,0,0.4);
}

.social-media-overlay{
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    width: 300px;
    height: 400px;
    background-color: rgba(0,0,0,0.7);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: all 0.5s;
}

.social-media-overlay > a{
    font-size: 20px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    color:#000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.5s;
}

.social-media-overlay > a:hover{
    background-color: #C60C30;
    color: #fff;
}

@media (max-width: 980px) {
    .instructors-inline{
        flex-direction: column;
    }
}
/* END INSTRUCTORS */


/* START COUNTDOWN */
.countdown{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../images/boxing-countdown.webp");
    background-size: cover;
}

.countdown-overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
}

.countdown-title{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #fff;
}

.horisontal-line-countdown{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 5px;
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 50px;
}

.timer-inline{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.timer-inline > div{
    font-family: 'Bitter', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background-color: #fff;
    color:#C60C30;
    border-radius: 50%;
    font-size: 50px;
    font-weight: 600;
}

#time-end{
    padding-top: 50px;
    font-size: 30px;
    color: #fff;
    font-weight: 600;
    display: none;
}

.countdown-overlay > a{
    background-color: #fff;
    border: 2px solid #fff;
    color: #000;
    padding: 10px;
    width: 200px;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 600;
    margin-top: 50px;
    transition: all 0.5s;
}

.countdown-overlay > a:hover{
    background-color: transparent;
    color: #fff;
}

.time-left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.time-left > div{
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time-left > div > p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: #fff;
    color:#C60C30;
    border-radius: 50%;
    font-size: 35px;
    font-weight: 600;
    margin-top: -1px;
}

@media (max-width: 650px) {
    .timer-inline > div{
        width: 80px;
        height: 80px;
        font-size: 30px;
    }

    .time-left > div{
        width: 80px;
    }

    .time-left > div > p{
        width: 40px;
        height: 40px;
        font-size: 25px;
    }
}

@media (max-width: 370px) {
    .timer-inline > div{
        width: 50px;
        height: 50px;
        font-size: 20px;
    }

    .time-left > div{
        width: 50px;
    }

    .time-left > div > p{
        width: 25px;
        height: 25px;
        font-size: 15px;
    }
}
/* END COUNTDOWN */

/* START PRICELIST */
.pricelist{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #dddddd;
}

.inline-pricelist{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.inline-pricelist > div{
    position : relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 5px 5px rgba(0,0,0, 0.1);
    border-radius: 10px;
    width: 300px;
    height: 450px;
}

.inline-pricelist > div > p{
    font-size: 25px;
    padding-bottom: 25px;
}

.inline-pricelist > div > ul{
    width: 100%;
    padding-top: 20px;
}

.inline-pricelist > div > ul > li{
    padding-top: 5px;
    font-size: 18px;
    list-style: none;
    text-align: left;
}

.inline-pricelist > div > a{
    text-decoration: none;
    margin-top: 25px;
    text-align: center;
    background-color: #000;
    border: 2px solid #000;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    width: 150px;
    padding: 10px;
    transition: all 0.5s;
}

.inline-pricelist > div > a:hover{
    background-color: transparent;
    color: #000;
}

.price{
    font-size: 50px;
    font-family: 'Bitter', serif;
}

.price > del{
    font-family: 'Bitter', serif;
    font-size: 25px;
    color: #C60C30;
}

.price > span{
    font-size: 15px;
}

.sale{
    font-family: 'Bitter', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;

    background-color: #C60C30;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

@media (max-width: 980px) {
    .inline-pricelist{
        flex-direction: column;
    }
}
/* END PRICELIST */