*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body{
    position: relative;
}

/* START NAVBAR */
.nav{
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 5px 5px rgba(0,0,0, 0.1);
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav > a > img{
    width: 50px;
    height: 50px;
}

.nav > ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    list-style: none;
}

.nav > ul > li > a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

#hamburger-button{
    font-size: 20px;
    display: none;
}

.hamburger-menu{
    position: absolute;
    top: 75px;
    right: 0;
    box-shadow: 0px 0px 5px 5px rgba(0,0,0, 0.1);
    background-color: #fff;
    width: 200px;
    height: 200px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    font-weight: 600;
    border-radius: 10px;
    list-style: none;
    transition: all 0.5s;
    opacity: 0;
}

.hamburger-menu > li > a{
    color: #000;
    text-decoration: none;
}

@media (max-width: 750px) {
    #hamburger-button{
        display: block;
    }

    .nav > ul{
        display: none;
    }

    .nav{
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
    }
}
/* END NAVBAR */

/* START HERO */
.hero{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero > img{
    width: 100%;
}

.hero-overlay{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0,0,0,0.7);
}

.text-one{
    color: #fff;
    font-size: 50px;
    max-width: 700px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 800;
    padding-bottom: 30px;
}

.text-two{
    color: #fff;
    font-size: 30px;
    max-width: 800px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 600;
    font-style: italic;
    padding-bottom: 30px;
}

.hero-overlay > div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.hero-overlay > div > a:nth-child(1){
    background-color: #fff;
    color: #000;
    border: 2px solid #fff;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    width: 150px;
    text-align: center;
    font-weight: 600;
    transition: all 0.5s;
}

.hero-overlay > div > a:nth-child(2){
    background-color: #C60C30;
    color: #fff;
    border: 2px solid #C60C30;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    width: 150px;
    text-align: center;
    font-weight: 600;
}

.hero-overlay > div > a:nth-child(1):hover{
    color: #fff;
    background-color: transparent;
}

@media (max-width: 850px) {
    .text-one{
        font-size: 30px;
        padding-bottom: 20px;
    }

    .text-two{
        font-size: 20px;
        max-width: 600px;
        padding-bottom: 20px;
    }
}

@media (max-width: 550px) {
    .text-one{
        font-size: 20px;
    }

    .text-two{
        display: none;
    }

    .hero-overlay > div > a:nth-child(1),
    .hero-overlay > div > a:nth-child(2){
        font-size: 15px;
        padding: 5px;
        width: 100px;
    }
}
/* END HERO */